a.btn-hover-circle {
  position: relative;
  overflow: hidden;
}
a.btn-hover-circle:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
a.btn-hover-circle:hover:before {
  animation: btnHoverCircle 0.6s ease-in-out;
}
a.btn-hover-circle.btn-light:before {
  background-color: rgba(0, 0, 0, 0.2);
}
a.btn-fill-up {
  position: relative;
  overflow: hidden;
}
a.btn-fill-up:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0%;
  left: 0%;
  opacity: 0;
}
a.btn-fill-up:hover:before {
  animation: btnFillUp 0.6s ease-in-out;
}
a.btn-fill-up.btn-light:before {
  background-color: rgba(0, 0, 0, 0.2);
}
a.btn-shine {
  position: relative;
  overflow: hidden;
}
a.btn-shine:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10%;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 0%;
  opacity: 0;
  transform: translateY(-50%) rotate(25deg);
  filter: blur(10px);
}
a.btn-shine:hover:before {
  animation: btnShine 0.6s ease-in-out;
}

@keyframes btnShine {
  0% {
    opacity: 0;
    left: 0%;
    width: 1%;
  }
  10% {
    opacity: 1;
    width: 20%;
  }
  90% {
    opacity: 1;
    width: 20%;
  }
  100% {
    opacity: 0;
    left: 100%;
    width: 1%;
  }
}
@keyframes btnFillUp {
  0% {
    opacity: 1;
    height: 0%;
  }
  40% {
    height: 90%;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
@keyframes btnHoverCircle {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(40);
  }
}
html {
  height: 100%;
}

body {
  padding: 0rem 0;
  height: 100%;
  background-color: #090a0f;
  color: #fff;
}